body{
    width: 1000px;/*ANCHO */
    max-height: fit-content;
}

header{ /*Para darle estilo al encabezado*/
    
    width: 1000px;/*ANCHO */
    height: 150px;  /*ALTO */ 
    background-color: rgb(96, 195, 199); /*color de fondo*/
    padding-left: 300px;/*padding espacio entre el contenido y el border*/
    text-align: justify; /*alineación de texto*/
    padding-top: 20px;
    
}

h1{ font-size: 50px;/*Tamaño fuente*/
    color: white;
   
}

a:hover{
    color: aqua; /*texto se pone de este color cuando pasa por ahí*/
    
}


nav{ /*barra de navegación*/
    color: aqua;
    position: absolute;
    top: 10px;    
  right: 85px;
  text-decoration-color: blanchedalmond;

  
}
body{
    width: 1335px;
    max-height: fit-content;


}

h1{ /*Para dar estilo al título*/
    color:cyan; /*color letra*/
    font: 1, Courier New, Helvetica, sans-serif;

}

img{
    border-radius: 50%; /*Para los bordes redondeados*/
    position: absolute;
    top: 15px;
    left: 50px;
    
    
    
}


h2{
background-color:rgb(176, 216, 221);
color: rgb(37, 67, 71);
width: auto;


}

h3{
color: rgb(60, 220, 241);
width: auto;

}
#Datospersonales{
   
    color:rgb(83, 109, 116);
        width: 400px;
        position: absolute;
        
}

#Habilidades{
    width: 400px;
    position: absolute;
    top: 320px;
}

    #Educación{ /*Para darle estilo a la seccion educación, para las secciones se antepone 
        numeral*/
        padding: 20px;
        margin: 10px;
        color: blanchedalmond;
        background-color: gray;
        /*Para que muestre barra para desplegable para ver el contenido queno entra en la caja*/
       width: 800px;
       position: absolute;
       right: 31px;
       
    }
    table{ /*Para darle estilo a la tabla*/
        background-color: rgb(83, 92, 92);
        color: rgb(249, 243, 250);
        font: .7em Arial, Helvetica, sans-serif;
        border: 5px solid #d3cece;
        border-collapse: separate;
          }

    caption{/*Estilo titulo de tabla*/
        width: 480px;
        background-color: rgb(112, 225, 233);
        border: 5px solid #d3cece;
        border-collapse: separate; /*para los bordes de la tabla separados*/
        font: 2em Arial, Helvetica, sans-serif;
    }
    tr{/*Estilo  de las filas*/
        width: 150px;
        height: 20px;
        border: 2px solid #d3cece;
        margin: 2px;
        padding: 2px;
        
    }
    td{/*Estilo celdas, doy estilo a las lineas de las columnas*/
        width: 150px;
        height: 20px;
        border: 1px solid #d3cece;
        margin: 2px;
        padding: 2px;
        
    

    }
    #ExperienciaLaboral{
        color: blanchedalmond;
        background-color: gray;
        padding: 20px;
        margin: 10px;
        font-size: small;
        /*Para que muestre barra para desplegable para ver el contenido queno entra en la caja*/
        width: 800px;
        position:absolute;
        top: 600px;
        right: 31px;
        
               
    }

aside{
    width: 400px;
         
        position: absolute;
        top: 540px;
        

}
footer{
    position: absolute;
        top: 895px;
   text-align: justify;
   left: 450px;

}